<ion-header style="background: #6b6054">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page" style="background: #d5ecd4">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h3 color="primary">Hacking Food</h3>

  <p>
    {{this.text}}
  </p>

  <ion-searchbar [(ngModel)]="userInput" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-card *ngFor="let item of items" (tap)="openRestaurant(item)" style="background: #c3dac3">
        <img src="assets/imgs/rest.jpg"/>
        <ion-card-header>
          {{item.restaurant}}
        </ion-card-header>

        <ion-card-content>
          <ion-row *ngFor="let dish of item.dishes">
            <ion-col col-10>
              {{dish.name}}
            </ion-col>
            <ion-col col-2>
              ${{dish.price}}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
</ion-content>
