<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <h3>Hacking Food</h3>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus, erat tristique finibus bibendum, augue mi facilisis augue, vel lacinia eros mauris a justo. Sed tincidunt viverra lectus, vitae lacinia augue. Sed rutrum placerat mauris. 
  </p>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      <ion-card *ngFor="let item of items" (tap)="openRestaurant(item)">
        <img src="assets/imgs/rest.jpg"/>
        <ion-card-header>
          {{item.name}}
        </ion-card-header>

        <ion-card-content>
          <ion-row *ngFor="let dish of item.dishes">
            <ion-col col-10>
              {{dish.name}}
            </ion-col>
            <ion-col col-2>
              ${{dish.price}}
            </ion-col>
          </ion-row>
        </ion-card-content>

      </ion-card>
</ion-content>
